{% extends 'base_3_split.html' %}

{% block title %}{{ title }} | Should I Watch Sports{% endblock %}

{% block header %}

    {{ title }} <a href="{% url 'home' %}" class="btn-pill btn-back">back</a>

{% endblock %}

{% block main_container_left_1 %}

    {% include 'core/competitions_past.html' %}

{% endblock %}

{% block main_container_left_2 %}

    {% include 'core/competitions_upcoming.html' %}

{% endblock %}

{% block main_container_right %}

    <div class="sign-container">
        <img src="{{ badge }}" alt="League Badge" class="banner">
    </div>
    
{% endblock %}
