<div class="events-list">
  <h5 class="inside-header">Past Schedule</h5>
  <ul>
    {% for competition in past_competitions %}
    <li>
      <a
        href="{% url 'core:event_list' competition.id %}" class="btn-pill btn-pill-light rounded-pill">

        {% if title == "Formula 1 World Championship" %}
          {{competition.start_date|date:"d" }}-{{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - {{ competition.name }}
        {% elif title == "MotoGP" %}
          {{competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - {{ competition.name }}
        {% else %}
          Matchday {{ competition.name }}
        {% endif %}
      </a>
    </li>
    {% empty %}
    <li>No past events.</li>
    {% endfor %}
  </ul>
</div>

