<div class="events-list">
  <h6 class="inside-header">Upcoming</h6>

  {% for competition in upcoming_competitions %}
  <li>
    <a
      href="{% url 'core:event_list' competition.id %}" class="btn-pill btn-pill-dark rounded-pill">

      {% if title == "Formula 1" %}
        {{competition.start_date|date:"d" }}-{{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - {{ competition.name }}
      {% elif title == "MotoGP" or title == "NASCAR Cup Series" or title == "IndyCar Series"%}
        {{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - {{ competition.name }}
      {% else %}
        Matchday {{ competition.name }}
      {% endif %}
        
    </a>
  </li>
  {% empty %}
  <li>No upcoming events.</li>
  {% endfor %}

</div>