{% load static %}

<div class="sub-container">

  <div class="sub-container-left">
    <p>Check past events to see if it's a </p>
    <p>HOT WATCH - watch the full replay</p>
    <p>MID TEMP - catch the highlights</p>
    <p>NOT WATCH - skip to the results</p>
  </div>

  <div class="sub-container-right">
{% comment %}     <img src="{% static 'img/logo_flame_large.png' %}" class="flame-logo" alt="Flame Logo">
 {% endcomment %}  </div>

</div>

<div class="list-container events-list">
    <h4 class="inside-header">Past Events</h4>
    <ul>
      {% for competition in past_competitions %}
        <li>
          <a href="{% url 'core:event_list' competition.id %}" class="btn-pill btn-pill-light rounded-pill"> 
          
            {% if title == "Formula 1 World Championship" %}
              {{ competition.start_date|date:"d" }}-{{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - 
            {% elif title == "MotoGP" %}
              {{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} -
            {% endif %}
            {{ competition.name }}
            
          </a>
        </li>
      {% empty %}
        <li>No past events.</li>
      {% endfor %}
    </ul>
</div>