{% extends 'base_3_split.html' %}

{% block title %}{{ competition.name }} | Should I Watch Sports{% endblock %}

{% block header %}

<a href="{% url 'core:competition_schedule' league=league %}" >{{ title }}</a> -
{{ competition.name }}
<a href="{% url 'core:competition_schedule' league=league %}" class="btn-pill btn-back">back</a>

{% endblock %}

{% block main_container_left_1 %}

    {% include 'core/events_past.html' %}

{% endblock %}

{% block main_container_left_2 %}

    {% include 'core/events_upcoming.html' %}

{% endblock %}

{% block main_container_right %}

    <div class="sign-container">
        <img src="{{ banner }}" alt="Banner" class="banner">
    </div>

{% endblock %}