{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <div>
        <br>
        <h1>{% if title == "FIA F1 WORLD CHAMPIONSHIP" %}{{ title }} - {{ event.event_list.name }} {% else %}{{ title }}{% endif %}</h1>

        <p><a href="{% url 'core:event_list' event.event_list.id %}">BACK TO EVENTS</a></p>

        <h2>{{ event.date_time|date:"j M" }} - {{ event.event_type|title }}</h2>
    </div>

    {% include 'core/vote.html' %}

    <br>
    
    {% include 'core/results.html' %}

    {% include 'core/spoiler_zone.html' %}
    
{% endblock %}