{% extends 'base.html' %}

{% block title %}{{ event.event_list }} - {{ event.event_type|title }} | Spoiler Free Sports Network{% endblock %}

{% block content %}

<div class="container">
    <div>
        <br>
        <h2>{{ title }} - {{ event.event_list.name }}</h2>

        <p><a href="{% url 'core:event_list' event.event_list.id %}">Back to EVENTS</a></p>

        <h3>
            {% if title == "FIA F1 World Championship" %}
                {{ event.date_time|date:"j M" }} - {{ event.event_type|title }}
            {% else %}
                {{ event.event_type|title }}
            {% endif %}
        </h3>
    </div>

    {% include 'core/vote.html' %}

    <br>
    
    {% include 'core/results.html' %}

    {% include 'core/spoiler_zone.html' %}
    
{% endblock %}