<div class="events-list">
    <h5 class="inside-header">Past Events</h5>

    {% for event in events_past %}
      <li>
        <a href="{% url 'core:event' event.id %}" class="btn-pill btn-pill-light rounded-pill">
            {% if title == "Formula 1" %}
                {{ event.event_type|title }}
                {% if event.rating.percentage %}
                 - {{ event.rating.percentage|floatformat:0 }}% HOT
                {% endif %}

            {% else %}
                {{ event.event_type|title }}
                {% if event.rating.percentage %}
                 - {{ event.rating.percentage|floatformat:0 }}% HOT
                {% endif %}
            {% endif %}
        </a>
      </li>
    {% endfor %}

</div>