<div class="list-container events-list">    
    <h4 class="inside-header ">Upcoming</h4>
    <ul>
        {% for competition in upcoming_competitions %}
            <li>
                <a href="{% url 'core:event_list' competition.id %}" class="btn-pill btn-pill-dark rounded-pill">
                    {% if title == "FIA F1 World Championship" %}
                        {{ competition.start_date|date:"d" }}-{{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - 
                    {% elif title == "MotoGP" %}
                        {{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} -
                    {% endif %}
                    {{ competition.name }}
                </a>
            </li>
        {% empty %}
            <li>No upcoming events.</li>
        {% endfor %}
    </ul>
</div>