{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <div>
        <br>
        <h1>{% if title == "FIA F1 WORLD CHAMPIONSHIP" %}{{ title }} - {{ competition.name }} {% else %}{{ title }}{% endif %}</h1>

        <p>EVENTS</p>
        <div class="events-container">
            <p>Results</p>
            <ul>
                {% for event in past_events %}
                    <li><a href="{% url 'core:event' event.id %}">{{ event.date_time|date:"j M" }} - {{ event.event_type|title }} - {{ event.date_time|time:"H:i" }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="events-container">
            <p>Upcoming</p>
            <ul>
                {% for event in upcoming_events %}
                    <li><a href="{% url 'core:event' event.id %}">{{ event.date_time|date:"j M" }} - {{ event.event_type|title }} - {{ event.date_time|time:"H:i" }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}