{% extends 'base_2_split.html' %}

{% block title %}Replay Platforms |Should I Watch Sports{% endblock %}

{% block header %}Replay Platforms{% endblock %}

{% block main_container_top %}

<div class="container">
    <p>These are some websites that provide replay streams for sports. For more information about each platform please refer to their respective websites.</p>


        <h4>Global</h4>
        <ul>
            <br><li><strong>Formula 1</strong>
                <ul>
                    <li><a href="https://f1tv.formula1.com/page/8192/2024-season" target="_blank">F1 TV</a></li>
                </ul>
            </li>
        </ul>
        <h4>Europe</h4>
        <ul>
            <br><li><strong>United Kingdom</strong>
                <ul>
                    <li><a href="https://www.bbc.co.uk/iplayer" target="_blank">BBC iPlayer</a></li>
                    <li><a href="https://www.skysports.com" target="_blank">Sky Sports</a></li>
                    <li><a href="https://www.bt.com/sport" target="_blank">BT Sport</a></li>
                    <li><a href="https://www.itv.com/hub/itv" target="_blank">ITV Hub</a></li>
                </ul>
            </li>
            <br><li><strong>Germany</strong>
                <ul>
                    <li><a href="https://www.dazn.com" target="_blank">DAZN</a></li>
                    <li><a href="https://www.rtl.de" target="_blank">RTL</a></li>
                    <li><a href="https://www.ard.de" target="_blank">ARD Mediathek</a></li>
                    <li><a href="https://www.zdf.de" target="_blank">ZDF Mediathek</a></li>
                </ul>
            </li>
            <br><li><strong>France</strong>
                <ul>
                    <li><a href="https://www.canalplus.com" target="_blank">Canal+</a></li>
                    <li><a href="https://www.beinsports.com" target="_blank">beIN Sports</a></li>
                    <li><a href="https://www.francetv.fr/sport" target="_blank">France TV Sport</a></li>
                </ul>
            </li>
            <br><li><strong>Spain</strong>
                <ul>
                    <li><a href="https://www.movistar.es" target="_blank">Movistar+</a></li>
                    <li><a href="https://www.laligatv.com" target="_blank">LaLigaTV</a></li>
                    <li><a href="https://www.rtve.es" target="_blank">RTVE Play</a></li>
                </ul>
            </li>
            <br><li><strong>Portugal</strong>
                <ul>
                    <li><a href="https://www.sporttv.pt" target="_blank">Sport TV</a></li>
                    <li><a href="https://www.slbenfica.pt" target="_blank">Benfica TV</a></li>
                    <li><a href="https://www.slbenfica.pt" target="_blank">Sporting TV</a></li>
                    <li><a href="https://www.rtp.pt/play" target="_blank">RTP Play</a></li>
                    <li><a href="https://sic.pt" target="_blank">SIC</a></li>
                </ul>
            </li>
            <br><li><strong>Italy</strong>
                <ul>
                    <li><a href="https://www.dazn.com" target="_blank">DAZN</a></li>
                    <li><a href="https://www.skysport.it" target="_blank">Sky Sport</a></li>
                    <li><a href="https://www.raiplay.it" target="_blank">RaiPlay</a></li>
                </ul>
            </li>
            <br><li><strong>Netherlands</strong>
                <ul>
                    <li><a href="https://www.espn.nl" target="_blank">ESPN</a></li>
                    <li><a href="https://www.npostart.nl" target="_blank">NPO Start</a></li>
                    <li><a href="https://www.ziggosport.nl" target="_blank">Ziggo Sport</a></li>
                </ul>
            </li>
            <br><li><strong>Belgium</strong>
                <ul>
                    <li><a href="https://www.elevensports.be" target="_blank">Eleven Sports</a></li>
                    <li><a href="https://www.vrt.be/vrtnu" target="_blank">VRT NU</a></li>
                    <li><a href="https://www.rtbf.be" target="_blank">RTBF Auvio</a></li>
                </ul>
            </li>
            <br><li><strong>Sweden</strong>
                <ul>
                    <li><a href="https://viaplay.se" target="_blank">Viaplay</a></li>
                    <li><a href="https://www.cmore.se" target="_blank">C More</a></li>
                    <li><a href="https://www.svtplay.se" target="_blank">SVT Play</a></li>
                </ul>
            </li>
            <br><li><strong>Norway</strong>
                <ul>
                    <li><a href="https://viaplay.no" target="_blank">Viaplay</a></li>
                    <li><a href="https://www.nrk.no" target="_blank">NRK TV</a></li>
                </ul>
            </li>
            <br><li><strong>Denmark</strong>
                <ul>
                    <li><a href="https://viaplay.dk" target="_blank">Viaplay</a></li>
                    <li><a href="https://www.dr.dk" target="_blank">DR TV</a></li>
                </ul>
            </li>
            <br><li><strong>Finland</strong>
                <ul>
                    <li><a href="https://viaplay.fi" target="_blank">Viaplay</a></li>
                    <li><a href="https://yle.fi/areena" target="_blank">Yle Areena</a></li>
                </ul>
            </li>
            <br><li><strong>Switzerland</strong>
                <ul>
                    <li><a href="https://www.srf.ch/play" target="_blank">SRF Play</a></li>
                    <li><a href="https://teleclub.ch" target="_blank">Teleclub</a></li>
                </ul>
            </li>
            <br><li><strong>Ireland</strong>
                <ul>
                    <li><a href="https://www.rte.ie/player" target="_blank">RTÉ Player</a></li>
                    <li><a href="https://www.virginmedia.ie/player" target="_blank">Virgin Media Player</a></li>
                </ul>
            </li>
        </ul>

        <h4>Non-European Countries</h4>
        <ul>
            <br><li><strong>United States</strong>
                <ul>
                    <li><a href="https://plus.espn.com" target="_blank">ESPN+</a></li>
                    <li><a href="https://www.nbcsports.com" target="_blank">NBC Sports</a></li>
                    <li><a href="https://www.cbssports.com" target="_blank">CBS Sports</a></li>
                    <li><a href="https://www.foxsports.com" target="_blank">Fox Sports</a></li>
                </ul>
            </li>
            <br><li><strong>Canada</strong>
                <ul>
                    <li><a href="https://www.tsn.ca" target="_blank">TSN</a></li>
                    <li><a href="https://www.sportsnet.ca" target="_blank">Sportsnet</a></li>
                    <li><a href="https://www.dazn.com" target="_blank">DAZN</a></li>
                </ul>
            </li>
            <br><li><strong>Australia</strong>
                <ul>
                    <li><a href="https://kayosports.com.au" target="_blank">Kayo Sports</a></li>
                    <li><a href="https://www.foxtel.com.au" target="_blank">Foxtel Now</a></li>
                    <li><a href="https://7plus.com.au" target="_blank">7plus</a></li>
                </ul>
            </li>
            <br><li><strong>Brazil</strong>
                <ul>
                    <li><a href="https://globoplay.globo.com" target="_blank">GloboPlay</a></li>
                    <li><a href="https://espnbrasil.ig.com.br" target="_blank">ESPN Brasil</a></li>
                </ul>
            </li>
            <br><li><strong>Japan</strong>
                <ul>
                    <li><a href="https://www.dazn.com" target="_blank">DAZN</a></li>
                    <li><a href="https://www.nhk.or.jp/nhkondemand" target="_blank">NHK On Demand</a></li>
                </ul>
            </li>
            <br><li><strong>South Africa</strong>
                <ul>
                    <li><a href="https://www.dstv.com" target="_blank">DStv Now</a></li>
                    <li><a href="https://www.supersport.com" target="_blank">SuperSport</a></li>
                </ul>
            </li>
            <br><li><strong>India</strong>
                <ul>
                    <li><a href="https://www.sonyliv.com" target="_blank">Sony LIV</a></li>
                    <li><a href="https://www.hotstar.com" target="_blank">Disney+ Hotstar</a></li>
                </ul>
            </li>
            <br><li><strong>Mexico</strong>
                <ul>
                    <li><a href="https://espndeportes.espn.com" target="_blank">ESPN Deportes</a></li>
                    <li><a href="https://clarosports.com" target="_blank">Claro Sports</a></li>
                </ul>
            </li>
            <br><li><strong>Argentina</strong>
                <ul>
                    <li><a href="https://www.espn.com.ar" target="_blank">ESPN</a></li>
                    <li><a href="https://www.tycsports.com" target="_blank">TyC Sports</a></li>
                </ul>
            </li>
            <br><li><strong>New Zealand</strong>
                <ul>
                    <li><a href="https://www.skysportnow.co.nz" target="_blank">Sky Sport Now</a></li>
                    <li><a href="https://www.sparksport.co.nz" target="_blank">Spark Sport</a></li>
                </ul>
            </li>
        </ul>
</div>
    

{% endblock %}

{% block main_container_bottom %}

    

{% endblock %}

