{% load event_tags %}

<h5>Spoiler Zone</h5>
{% if event|is_past %}

    <br>
    <div class="form-check form-switch">
        <input class="toggle-switch" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Highlights</label>
    </div>

    <div class="show-video-container" style="display: none;">
        <br>
        {% if video_id %}
            <a href="https://www.youtube.com/watch?v={{ video_id }}" title="Highlights" target="_blank" rel="noopener">
                <img src="https://img.youtube.com/vi/{{ video_id }}/hqdefault.jpg" style="width: 60%;" />
            </a>
        {% else %}
            <a href="https://www.youtube.com/results?search_query={{ event.event_type|title }} {{ event.date_time|date:'Y-m-d' }} highlights" title="Search YouTube" target="_blank" rel="noopener">
                SEARCH YOUTUBE {{ event.event_type|title }} {{ event.date_time|date:'Y-m-d' }}
            </a>
        {% endif %}
        <br>
        <br>
    </div>

    <div class="form-check form-switch">
        <input class="toggle-switch" type="checkbox" id="flexSwitchCheckDefault2">
        <label class="form-check-label" for="flexSwitchCheckDefault2">Show Results</label>
    </div>
    <br>
    <div class="show-score-container" style="display: none;">
        <p><a href="https://www.thesportsdb.com/event/{{ event.idEvent }}" title="Results" target="_blank" rel="noopener">LINK TO RESULTS</a>
    </div>
    <div>
        <a href="{% url 'core:replay_platforms' %}">LINKS TO REPLAY PLATFORMS</a>
    </div>
    <br><br>

    <script>
        // Get the first switch and its container
        const switchCheckbox1 = document.getElementById('flexSwitchCheckDefault');
        const videoContainer = document.querySelector('.show-video-container');

        // Function to scroll to the video container smoothly
        function scrollToElement(element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }

        // Event listener for the first switch
        switchCheckbox1.addEventListener('change', () => {
            videoContainer.style.display = switchCheckbox1.checked ? 'block' : 'none';
            // Scroll down if the video is being shown
            if (switchCheckbox1.checked) {
                scrollToElement(videoContainer);
            }
        });

        // Get the second switch and its container
        const switchCheckbox2 = document.getElementById('flexSwitchCheckDefault2');
        const resultsContainer = document.querySelector('.show-score-container');

        // Event listener for the second switch
        switchCheckbox2.addEventListener('change', () => {
            resultsContainer.style.display = switchCheckbox2.checked ? 'block' : 'none';
            // Scroll down if the results are being shown
            if (switchCheckbox2.checked) {
                scrollToElement(resultsContainer);
            }
        });
    </script>

{% endif %}
</div>