{% load static %}
<h4>Welcome to</h4>
<h1 style="font-weight: bold; color: var(--light-purple);">HOT WATCH SPORTS<img src="{% static 'img/android-chrome-192x192.png' %}" style="width: 75px;"></h1>
    <br>

    <p>Missed a game or race and wondering if it's worth watching, but can't find out without seeing the results?</p>
    <p>Our app lets sports fans rate events as <strong>'Hot Watch'</strong> or <strong>'Not Watch'</strong> helping others decide without any spoilers.</p>
    <p>Check our ratings to see if an event is worth watching in full, just catching the highlights (available from our site), or skipping straight to the results.</p>

    <br>



