{% load static %}
<i class="fa-solid fa-xmark" id="arrow"></i>

<div class="welcome-container">
    <div class="logo-container">
      <img src="{% static 'img/logo-welcome.png' %}" class="welcome-logo" alt="Welcome Logo">
    </div>
    <div class="welcome-text">
        <h6 class="inside-header">Spoiler-Free Ratings, Highlights, and Results</h6>
        <p>Missed a game or race and want to know if it's worth watching, but can't find out without seeing the results?</p>
        <p>SIWS provides crowd-sourced and AI ratings (AI currently only for F1 events, other sports coming soon), helping you decide without spoilers.</p>
        <p>Rate an event that you watched, helping other users make a spoiler-free decision.</p>
        <ul>
          <li><img src="{% static 'img/logo_flame_large.png' %}" alt="HOT WATCH" class="welcome-heat-logos"><strong>HOT WATCH</strong><span class="break-here"> - watch a full replay</span></li>
          <li><img src="{% static 'img/logo_mid.png' %}" alt="MID TEMP" class="welcome-heat-logos"><strong>MID TEMP</strong><span class="break-here"> - catch the highlights</span></li>
          <li><img src="{% static 'img/logo_cold.png' %}" alt="NOT WATCH" class="welcome-heat-logos"><strong>NOT WATCH</strong><span class="break-here"> - skip to the results</span></li>
        </ul>
        <p>Watch the highlights video and access results directly from our event pages.</p>
    </div>
</div>


<!-- Welcome Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="welcomeModalLabel">WELCOME BACK</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> What's new?</p>
                <ul>
                    <li>No need to register to Rate Events</li>
                    <li>Like and Dislike buttons for each Rating</li>
                    <li>Comments section for each event</li>
                    <li>Premier League and Champions League Re-added</li>
                    <li>Various functionality improvements.</li>             
                </ul>
                <p>Thank you for using SIWS. We hope you enjoy the new features and improvements.</p>
            
            </div>

        </div>
    </div>
</div>

