# Python
*.pyc
sportsreplayforum/home/__pycache__/
sportsreplayforum/sportsreplayforum/home/__pycache__/

# Virtual Environment
venv/
.venv/

# Django specific
sportsreplayforum/staticfiles/
db.sqlite3

# Environment variables
.env
