# Python
*.pyc
sportsreplayforum/home/__pycache__/
sportsreplayforum/sportsreplayforum/home/__pycache__/
sportsreplayforum/sportsreplayforum/__pycache__/
sportsreplayforum/sportsreplayforum/__pycache__/settings.cpython-310.pyc

# Virtual Environment
venv/
.venv/

# Django specific
db.sqlite3

# Environment variables
.env


