{% extends 'base_1.html' %}

{% block title %}Forgotten Password | Should I Watch Sports{% endblock %}

{% block main_container_top %}

  {% load crispy_forms_tags %}
  <form method="POST" class="form-group">
    {% csrf_token %}
    <h5>Forgotten Password</h5>
    <br>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <div class="form-field">
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary ml-2">Submit</button>
    </div>
  </form>

{% endblock %}
