{% extends 'base_2_split.html' %}

{% block title %}Should I Watch Sports - Forgotten Password{% endblock %}

{% block header %}Welcome to{% endblock %}

{% block main_container_top %}

  {% include 'home/welcome.html' %}

{% endblock %}

{% block main_container_bottom %}

  {% load crispy_forms_tags %}

    <h5>Password Changed</h5>
    <br>
    <p>Your password has been updated, you can now login with your new password.</p>

    <form method="POST" class="form-group" action="{% url 'users:login' %}">
      {% csrf_token %}
  
      <div class="form-field">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary ml-2">Log in</button>&nbsp;
      </div>
    </form>

{% endblock %}