{% extends 'base_1.html' %}

{% block title %}Forgotten Password | Should I Watch Sports{% endblock %}

{% block main_container_top %}

  {% load crispy_forms_tags %}
  
  <h5>Password Change Confirm</h5>
  {% if validlink %}
    <form action="" method="post" class="form-group">
      {% csrf_token %}
      <div class="form-field">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary ml-2">Save Password</button>
      </div>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
  {% endif %}

{% endblock %}
