<div class="events-list">
    <h5 class="inside-header">Latest Rated Events</h5>
    {% for event in recent_voted_events %}
        <li>
            <a href="{% url 'core:event' event.event.id %}" class="btn-pill btn-pill-light rounded-pill">
                {% if event.league == "Formula 1" %}
                    {{ event.event.event_list.name }} {{ event.event.event_type }}
                {% elif event.league == "MotoGP" or event.league == "NASCAR Cup Series" or event.league == "IndyCar Series"%}
                    {{ event.event.event_list.name }} {{ event.event.event_type }} 
                {% else %}
                    {{ event.event.event_type }}
                {% endif %}
                - {{ event.event.rating.percentage|floatformat:0 }}% Hot
            </a>
        </li>
    {% endfor %}
</div>


