<div class="events-list">
    <h5 class="inside-header">Todays Events</h5>
    {% for event in page_obj %}
        <li>
            <a href="{% url 'core:event' event.id %}" class="btn-pill btn-pill-dark rounded-pill">
                {% if event.league == "Formula 1" %}
                    {{ event.event_list.name }} {{ event.event }}
                {% elif event.league == "MotoGP" or event.league == "NASCAR Cup Series" or event.league == "IndyCar Series"%}
                    {{ event.event_list.name }} {{ event.event_type }} 
                {% else %}
                    {{ event.event_type }} - <span class="event-datetime" data-utc="{{ event.date_time|date:'Y-m-d\TH:i:s\Z' }}"></span>
                {% endif %}
            </a>
        </li>   
    {% endfor %}

    <div class="pagination">
            
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
        
    </div>

</div>

