{% extends 'base_4_split.html' %}

{% block title %}Should I Watch Sports{% endblock %}

{% block main_container_left_1 %}

    <div class="events-list">
        {% include 'home/events_rated.html' %}
    </div>

{% endblock %}

{% block main_container_left_2 %}

    {% include 'home/events_today.html' %}

{% endblock %}

{% block main_container_right_1 %}
    
    {% include 'home/badges.html' %}
    
{% endblock %}

{% block main_container_right_2 %}
    
    {% include 'home/welcome.html' %}
    
{% endblock %}
