{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <br>
    <h2>WELCOME TO REPLAY HOT WATCH</h2>
    <p>
        A web application for sports fans to rate and discuss sports events, with a view to inform other users as to whether to watch the full replay or just highlights.
    </p>

    {% if user.is_authenticated %}
    <!-- do nothing -->
    {% else %}
        <nav>
            <a href="{% url 'core:login' %}" class="btn btn-primary text-white">Login</a>
            <a href="{% url 'core:register' %}" class="btn btn-primary text-white">Register</a>
        </nav>
        <br>
    {% endif %}

    <div>
        <h4>Sports</h4>
        <ul>
            <li><a href="{% url 'core:competition_schedule' %}?league=Formula 1">FIA F1 World Championship</a></li>
            <li><a href="{% url 'core:competition_schedule' %}?league=English Premier League">Premier League</a></li>
            <li><a href="{% url 'core:competition_schedule' %}?league=UEFA Nations League">UEFA Nations League</a></li>
            <li><a href="{% url 'core:competition_schedule' %}?league=FIFA World Cup">FIFA World Cup Qualifying</a></li>
            <li><a href="{% url 'core:competition_schedule' %}?league=English UEFA Champions League">UEFA Champions League</a></li>
            <li><a href="{% url 'core:competition_schedule' %}?league=MotoGP">MotoGP</a></li>

            <li><p>More  sports coming soon(ish) ... </p></li>
        </ul>
    </div>
</div>   

<script>
    $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
    });
</script>

{% endblock%}