{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <br>
    <h1>WELCOME TO REPLAY HOT WATCH</h1>
    <p>
        A web application for sports fans to rate and discuss sports events, with a view to inform other users as to whether to watch the full replay or just highlights.
    </p>

    {% if user.is_authenticated %}
    <!-- do nothing -->
    {% else %}
        <nav>
            <a href="{% url 'core:login' %}" class="btn btn-primary text-white">Login</a>
            <a href="{% url 'core:register' %}" class="btn btn-primary text-white">Register</a>
        </nav>
    {% endif %}

    <div>
        <h3>Sports</h3>
        <ul>
            <li><a href="{% url 'competition_schedule' %}">2024 FIA F1 WORLD CHAMPIONSHIP</a></li>
            <li><p>More  sports coming soon(ish) ... </p></li>
        </ul>
    </div>
</div>   

<script>
    $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
    });
</script>

{% endblock%}