{% load static %}

<img src="{% static 'img/logo-welcome.png' %}" class="welcome-logo" alt="">
<br>

<p>Missed a game or race and wondering if it's worth watching, but can't find out without seeing the results?</p>
<p>We provide crowdsourced ratings by other fans (and soon AI ratings), helping you decide without spoilers.</p>
<p>See if an event is a <br class="mobile-break"><strong>HOT WATCH</strong> - watch the full replay, <br class="mobile-break"><strong>MID TEMP</strong> - catch the highlights, or <br class="mobile-break"><strong>NOT WATCH</strong> - skip to the results.</p>
<p>Watch the highlights video and access results directly from our event pages. </p>
<p>Watch the highlights video and access results directly from our event pages. </p>


<a class="badge-link" alt="" title="F1" href="{% url 'core:competition_schedule' league='Formula 1' %}">
    <img src="{% static 'img/sports/logo_f1.png' %}" alt="F1">
</a>
<a class="badge-link" alt="" title="MotoGP" href="{% url 'core:competition_schedule' league='MotoGP' %}">
    <img src="{% static 'img/sports/logo_motogp.png' %}" alt="MotoGP">
</a>
<a class="badge-link" alt="" title="Indy" href="{% url 'core:competition_schedule' league='IndyCar Series' %}">
    <img src="{% static 'img/sports/logo_indy.png' %}" alt="Indy">
</a>
<a class="badge-link" alt="" title="NASCAR" href="{% url 'core:competition_schedule' league='NASCAR Cup Series' %}">
    <img src="{% static 'img/sports/logo_nascar.png' %}" alt="NASCAR">
</a>
<a class="badge-link" alt="" title="Premier" href="{% url 'core:competition_schedule' league='English Premier League' %}">
    <img src="{% static 'img/sports/logo_premier.png' %}" alt="Premier">
</a>
<a class="badge-link" alt="" title="Champions" href="{% url 'core:competition_schedule' league='UEFA Champions League' %}">
    <img src="{% static 'img/sports/logo_champions.png' %}" alt="Champions">
</a>
