{% load static %}

<img src="{% static 'img/logo-welcome.png' %}" class="welcome-logo" alt="Welcome Logo">
<br>

<p>Missed a game or race and wondering if it's worth watching, but can't find out without seeing the results?</p>
<p>We provide crowdsourced ratings by other fans (and soon AI ratings), helping you decide without spoilers.</p>
<p>See if an event is a <br class="mobile-break"><strong>HOT WATCH</strong> - watch the full replay, <strong>MID TEMP</strong> - catch the highlights, or <br class="mobile-break"><strong>NOT WATCH</strong> - skip to the results.</p>
<p>Watch the highlights video and access results directly from our event pages. </p>




