{% load static %}
<div class="welcome-container">
    <img src="{% static 'img/logo-welcome.png' %}" class="welcome-logo" alt="">
    <div class="text-wrapper">
        <p>Missed a game or race and want to know if it's worth watching, but can't find out without seeing the results?</p>
        <p>SIWS provides ratings by other users and by AI (currently only for F1 events, more sports coming soon), helping you decide without spoilers.</p>

        <li>Check the ratings. See if an event is a </p>
            <ul>
                <strong>HOT WATCH</strong> - watch the full replay
                <br><strong>MID TEMP</strong> - catch the highlights
                <br><strong>NOT WATCH</strong> - skip to the results</p>
            </ul>
        <li>Rate an event that you watched, helping other users make a spoiler free decision</p>
        <li>Watch the highlights video and access results directly from our event pages, on all events. </p>
 </div>

<!-- Welcome Modal -->
{% comment %} <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="welcomeModalLabel">Notice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This site is hosted on a development server with slow database load times. You may experience slow load times.
                
                The production version will be faster!
            </div>

        </div>
    </div>
</div> {% endcomment %}

