<h6 class="inside-header">Comments <span>{{ event.comments.count }}</span></h6>

{% if request.user.is_authenticated %}

<div>
    <form method='POST' action="{% url 'core:comment-sent' event.id %}" class='flex items-center p-4' autocomplete='off'>
        {% csrf_token %}
        {{ commentform }}
        <button @click='open = false' class='' type ='submit'>Submit</button>
    </form>
</div>

{% endif %}

{% for comment in comments %}
    <div>
        <p><strong>{{ comment.author.username }}</strong>:</p>
        <p><small>{{ comment.created }}</small></p>
        <p class="text-xl px-4">{{ comment.body }}</p>
    </div>
    <br>
{% endfor %}