<div class="events-list">
  <h6 class="inside-header">Recent</h6>

  {% if title == "FIFA World Cup" %}
    {% for event in past_events %}
    <li>
      <a href="{% url 'core:event' event.id %}" class="btn-pill btn-pill-light rounded-pill">
        {{ event.event_type }} - {{ event.date_time|date:"d M" }}{% if event.rating.average_stars %} - {{ event.rating.average_stars }} ⭐ {{ event.rating.star_label }}{% endif %}
      </a>
    </li>
    {% empty %}
    <li>No recent events.</li>
    {% endfor %}
  {% else %}
    {% for competition in past_competitions %}
    <li>
      <a href="{% url 'core:event_list' competition.id %}" class="btn-pill btn-pill-light rounded-pill">
        {% if title == "Formula 1" %}
          {{competition.start_date|date:"d" }}-{{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - {{ competition.name }}
        {% elif title == "MotoGP" or title == "NASCAR Cup Series" or title == "IndyCar Series"%}
          {{ competition.end_date|date:"d" }} {{ competition.end_date|date:"M" }} - {{ competition.name }}
        {% else %}
          Matchday {{ competition.name }}
        {% endif %}
        {% if competition.main_rating %} - {{ competition.main_rating }} ⭐ {{ competition.main_rating_label }}{% endif %}
      </a>
    </li>
    {% empty %}
    <li>No recent events.</li>
    {% endfor %}
  {% endif %}

</div>
