{% extends 'base_4_split_right.html' %}

{% block title %}{{ event.event_list }} - {{ event.event_type|title }} | Should I Watch Sports{% endblock %}

{% block header %}

    <a href="{% url 'core:competition_schedule' league=event.event_list.league %}" >{{ title }}</a> -
    <a href="{% url 'core:event_list' event.event_list.id %}" >{{ event.event_list }}</a> -
    {{ event.event_type|title }}</a> <a href="{% url 'core:event_list' event.event_list.id %}" class="btn-pill btn-back">back</a>

{% endblock %}

{% block main_container_right_1 %}

    <div class="sub-container-split">

        <div class="sub-container-left">
            {% include 'core/ratings_user.html' %}
        </div>

        <div class="sub-container-right">
            {% include 'core/ratings_ai.html' %}
        </div>

    </div>

{% endblock %}

{% block main_container_right_2 %}

    {% include 'core/vote.html' %}

{% endblock %}

{% block main_container_left %}

    <div class="sign-container">
        <img src="{{ poster }}" alt="Poster" class="poster">
    </div>
    
    {% include 'core/spoiler_zone.html' %}

{% endblock %}

{% block main_container_bottom %}

    {% include 'core/comments.html' %}

{% endblock %}

