{% load static %}

<h6>User Rating</h6>
{% if event.rating.voters.all|length == 0 %}
    <p>Be the first to rate this event.</p>
    
{% else %}

    {% if event.rating.percentage >= 66 %}
        
        <h3>HOT WATCH!</h3><img src="{% static 'img/logo_flame_large.png' %}" alt="HOT WATCH" class="rating-logo">
        <h6>Watch the Full Replay</h6>

    {% elif event.rating.percentage >= 33 %}

        <h3>MID TEMP!</h3><img src="{% static 'img/logo_mid.png' %}" alt="MID TEMP" class="rating-logo">
        <h6>Watch the Highlights</h6>

    {% else %}

        <h3>NOT WATCH!</h3><img src="{% static 'img/logo_cold.png' %}" alt="NOT WATCH" class="rating-logo">
        <h6>Check Out the Results</h6>

    {% endif %}
    
    <p>Rated {{ event.rating.percentage|floatformat:0 }}% Hot from {{ total_votes }} votes</p>

    
    <div class="chart-container">
        <canvas id="ratingChart" width="250" height="200"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('ratingChart').getContext('2d');
        const fiveStars = {{ event.rating.five_stars }};
        const fourStars = {{ event.rating.four_stars }};
        const threeStars = {{ event.rating.three_stars }};
        const twoStars = {{ event.rating.two_stars }};
        const oneStar = {{ event.rating.one_star }};
        const totalVotes = fiveStars + fourStars + threeStars + twoStars + oneStar;
        const chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['5 stars', '4 stars', '3 stars', '2 stars', '1 star'],
                datasets: [{
                    data: [fiveStars, fourStars, threeStars, twoStars, oneStar],
                    backgroundColor: [
                        '#ee35b9',
                        '#f37484',
                        '#f6933f',
                        '#95d0bb',
                        '#24e4e7',
                    ],
                    borderColor: [
                        '#ee35b9',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                title: {
                    display: true,
                    text: 'Rating Distribution',
                },
                plugins: {
                    legend: {
                        position: 'right',
                        labels: {
                            boxWidth: 10,
                            padding: 15,
                        }
                    }
                },
                
            }
        });
    </script>
    
{% endif %}
<div class="social-share-icons-container">
    <!-- Facebook Share Button -->
    <a href=" https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank" title="Share on Facebook">
        <i style="font-size: 24px" class="fa-brands fa-facebook social-icons"></i>
      </a>

    <!-- WhatsApp Share Button (mobile only) -->
    <a href=" https://wa.me/?text={{ event.event_list }}%20{{ event.event_type|title }}%20Rating%20-%20Should%20I%20Watch%20Sports:%20{{ request.build_absolute_uri }}" target="_blank" title="Share on WhatsApp">
        <i style="font-size: 24px" class="fa-brands fa-whatsapp social-icons"></i>
    </a>

    <!-- Reddit Share Button -->
    <a href=" https://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ event.event_list }}%20{{ event.event_type|title }}%20Rating%20-%20Should%20I%20Watch%20Sports" target="_blank" title="Share on Reddit">
        <i style="font-size: 24px" class="fa-brands fa-reddit social-icons"></i>
    </a>

    <!-- Bluesky Share Button -->
    <a href=" https://bsky.app/intent/compose?text={{ event.event_list }}%20{{ event.event_type|title }}%20Rating%20-%20Should%20I%20Watch%20Sports%20{{ request.build_absolute_uri|urlencode }}" target="_blank" title="Share on Bluesky">
        <i style="font-size: 24px" class="fa-brands fa-bluesky social-icons"></i>
    </a>
</div>

<form method="post" action="{% url 'core:vote' event.id %}">
    {% csrf_token %}
    <button type="submit" name="like">Like</button>
    <button type="submit" name="dislike">Dislike</button>
</form>

