{% load event_tags %}

<h6 class="spoiler-header">Spoiler Zone</h6>
{% if event|is_past %}

    {% if video_id %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Result/Highlights Video</label>
    </div>

    <div class="show-video-container" style="display: none;">
        <center>
            <div class="image-wrapper">
                <img src="https://img.youtube.com/vi/{{ video_id }}/hqdefault.jpg" alt="Event Highlights" style="width: 100%;">
                <a href="https://www.youtube.com/watch?v={{ video_id }}" target="_blank">
                    <i class="fa-regular fa-circle-play"></i>
            </div>
        </center>
    </div>
    {% else %}
        <div class="spoiler-buttons">
                <a href="https://www.youtube.com/results?search_query={{ event.event_type|title }} {{ event.date_time|date:'Y-m-d' }} highlights" title="Search YouTube" target="_blank" rel="noopener" class="btn-pill btn-standard">YouTube Highlights</a>
        </div>
    {% endif %}

    <div>
        <br>
        <p class="spoiler-buttons"><a href="https://www.google.com/search?q={{ title }}+{{ event.event_list }}+{{ event.event_type|title }}+results" title="Search for results" target="_blank" rel="noopener" class="btn-pill btn-standard">{{ event.event_type|title }} Result</a></p>

        <p class="spoiler-buttons"><a href="https://www.google.com/search?q={{ title }}+{{ event.event_list }}+results" title="Search for results" target="_blank" rel="noopener" class="btn-pill btn-standard">{{ title }} {{ event.event_list }} Results</a></p>
        <p class="spoiler-buttons"><a href="https://www.google.com/search?q={{ title }}+news&tbm=nws" title="Search for news" target="_blank" rel="noopener" class="btn-pill btn-standard">{{ title }} News</a></p>  
    </div>
{% else %}

    <p>No spoilers yet.</p>
{% endif %}
