{% load event_tags %}

{% if event|is_past %}

    {% if video_id %}
    <div class="form-check form-switch spoiler-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Show Result/Highlights Video</label>
    </div>
    {% endif %}

    <div class="spoiler-buttons">
        {% if not video_id %}
        <a href="https://www.youtube.com/results?search_query={{ event.event_type|title }} {{ event.date_time|date:'Y-m-d' }} highlights" title="Search YouTube" target="_blank" rel="noopener" class="btn-pill btn-standard">YouTube Highlights</a>
        {% endif %}
        <a href="https://www.google.com/search?q={{ title }}+{{ event.event_list }}+{{ event.event_type|title }}+results" title="Search for results" target="_blank" rel="noopener" class="btn-pill btn-standard">{{ event.event_type|title }} Result</a>
        <a href="https://www.google.com/search?q={{ title }}+{{ event.event_list }}+results" title="Search for results" target="_blank" rel="noopener" class="btn-pill btn-standard">{{ title }} {{ event.event_list }} Results</a>
        <a href="https://www.google.com/search?q={{ title }}+news&tbm=nws" title="Search for news" target="_blank" rel="noopener" class="btn-pill btn-standard">{{ title }} News</a>
    </div>

{% else %}
    <p>No spoilers yet.</p>
{% endif %}
