{% extends 'base_1.html' %}

{% block title %}Forgotten Password | Should I Watch Sports{% endblock %}

{% block main_container_top %}

  {% load crispy_forms_tags %}

  <h6>Password Changed</h6>
  <br>
  <p>Your password has been updated, you can now login with your new password.</p>

  <form method="POST" class="form-group" action="{% url 'users:login' %}">
    {% csrf_token %}

    <div class="form-field">
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary ml-2">Log in</button>&nbsp;
    </div>
  </form>

{% endblock %}
