:root {
	--dark-purple: #4f379c ;
	--light-purple: #ac3fd0;
	--five-star-pink: #ee35b9;
	--four-star-burnt: #f37484;
	--three-star-orange: #f6933f;
    --two-star-ocean: #95d0bb;
    --one-star-ice: #24e4e7;
    --bright-white: #ffffff;
    --light-orange: #ffedc3;
    --light-grey: #d9d9d9;
    --dark-grey: #282828;
    --darker-grey: #1c1c1c;
    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --bg-color-dark: #000000;
    --text-color-dark: #ffffff;
}


/* GENERAL */
body {
    overflow-y: scroll;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}
/* 
h1 {
    font-size: 2.5rem;
}
  
h2 {
font-size: 2rem;
}

h3 {
font-size: 1.75rem;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 1.2rem;
} */

a {
    text-decoration: none;
    color: var(--bright-white); /* or any other color you prefer */
}

a:hover {
    color: var(--light-purple); /* or any other color you prefer */
}

body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}
  
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.main-header {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-header {
    margin-bottom: 25px;
}

/* GENERAL END */

/* NAVBAR */
.navbar-brand img {
    width: 120px;
    margin-left: 10px; ;
    margin-top: 5px;
}

.navbar-dark {
    background-color: var(--dark-grey) !important;
    border-radius: 10px;
}

.navbar-dark .nav-link {
    color: var(--bright-white);
}

.nav-link:hover {
    color: var(--light-purple) !important;
}

.search-input {
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.theme-toggle {
    background: none;
    border: none;
    /* font-size: 1rem; */
    cursor: pointer;
    color: var(--light-grey);
    padding-left: 15px;
}

.mobile-menu::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--darker-grey);
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-container {
    margin-left: 16px;
    margin-right: 16px;
}

/* NAVBAR END*/


/* BUTTONS */
.btn-primary {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary:hover {
    background-color: var(--light-purple);
    border-color: var(--light-purple);
}

.btn-pill,.btn-back, .btn-standard {
  padding: 1px 12px;
  font-weight: 350;
  border-radius: 7px!important;
  margin-bottom: 10px;
  width: 400px;
  text-align: left;
  text-decoration: none;
  display: block;
  max-width: 100%;
}

.btn-pill-light {
  background-color: var(--light-purple);
  color: var(--bright-white);
}

.btn-pill-dark {
  background-color: var(--dark-purple);
  color: var(--bright-white);
}

.btn-pill-light:hover {
    background-color: var(--dark-purple);
    color: var(--bright-white);
}

.btn-pill-dark:hover {
  background-color: var(--light-purple);
  color: var(--bright-white);
}

.btn-back, .btn-standard {
    background-color: var(--dark-grey);
    color: var(--bright-white);
    font-size: .85rem;
    display: inline-block;
    width: auto;
    margin-bottom: 0px;
    text-align: left;
}

.btn-back:hover, .btn-standard:hover {
    background-color: var(--dark-purple);
    color: var(--bright-white);
}

.btn-feedback {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--dark-grey);
    opacity: 0.8;
    color: var(--bright-white);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;  /* Make sure the button stays on top */
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-feedback:hover {
    background-color: #525252;
    color: var(--bright-white);
    opacity: 1;
}

/* BUTTONS END */


/* FORMS */
.form-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 300px;
    margin-top: 10px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-control {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; /* Adjust the size here */
}

.form-control:focus {
    outline: 2px solid var(--five-star-pink);
}

::placeholder {
    font-size: 12px;
}

.form-check {
    margin-left: 5px;
}

.form-check-input[type="checkbox"] {
    background-color: var(--dark-purple);
}
  
.form-check-input[type="checkbox"]:checked {
    background-color: var(--light-purple);
}

.form-check-label {
    font-size: 14px;
}


/* FORMS END */

/* MAIN CONTAINERS */
.main-container-style {
    border: 2px solid var(--dark-grey);
    border-radius: 25px;
    padding: 25px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
}

.main-container-left, .main-container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container-left-1, .main-container-left-2, .main-container-right-1, .main-container-right-2 {
    position: relative;
    flex: 1;
}

.main-container-right-1 {
    padding: 25px;
}

.right-home {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.main-container-split {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.main-container-split > div {
    flex: 1;
}

/* MAIN CONTAINERS END */

/* HOME */
.badge-container {
    display: flex;
    justify-content: center;
}

.welcome-logo {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.badge-link img {
    height: auto;
    max-height: 65px;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#arrow {
    display: none; 
}

/* .modal-dialog {
    margin-top: 100px;
}

.modal-content {
    color: #000000;
} */

/* scroll bar */
.events-scroll {
    height: 200px;
    overflow-y: auto;
    scrollbar-color: var(--dark-grey) var(--darker-grey);
    scrollbar-width: thin;
  }
  
  .events-scroll::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  
   .events-scroll::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);
    border-radius: 20px;
  }
  
  .events-scroll::-webkit-scrollbar-track {
    background-color: var(--four-star-burnt);
    border-radius: 10px;
  }

  .fa-arrow-down-wide-short {
    margin-left: 10px;
    font-size: 16px;
  }

.event-icon {
    width: 17px;
    height: 18px;
    margin-right: 5px;
    padding-bottom: 1px;
}

/* HOME END */

/* SCHEDULE */
.sign-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.banner, .poster {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}

/* SCHEDULE END */

/* EVENT */
.sub-container-split {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sub-container {
    display: flex;
    flex-direction: row;
}

.sub-container-left, .sub-container-right {
    flex: 1;
}

.sub-container-left {
    margin-right: 25px;
}

.flame-logo {
    max-width: 175px;
    width: 10%;
    height: auto;
}

.events-list li {
    list-style: none;
}

h3, .rating-logo {
    display: inline;
    vertical-align: middle;
}

.rating-logo {
    width: 25px;
    margin: 10px;
}

.ai_review {
    text-align: justify;
}

.vote input[type="radio"] {
    margin: 10px 10px;
}

/* play video link */
.image-wrapper {
	position: relative;
}

.image-wrapper a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play-button {
    font-size: 100px;
}

a i {
	font-size: 100px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	color: var(--bg-color-light);

}

a i:hover {
	color: var(--dark-purple);
}
/* play video link end */

.social-share-icons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.social-icons {
    color: var(--dark-grey)!important;
    transition: color 0.2s, transform 0.2s;
}

.social-icons:hover {
    color: var(--dark-purple)!important;
    transform: scale(1.1);
}

.spoiler-header {
    margin-top: 25px;
    margin-bottom: 15px;
}

/* EVENT END */

/* FOOTER */
.footer {
    background-color: var(--bg-color-dark)!important;
    padding: 10px;
    padding-top: 25px;
}

.bg-dark p {
    color: var(--light-grey)!important;
    font-size: 11px;
}

/* FOOTER END */

/* Media query for mobile screens */
@media (max-width: 1200px) {

    .text-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sub-container-split {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .chart-container {
        margin-bottom: 20px;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .navbar-nav {
        display: flex;
        align-items: center; /* Ensures vertical centering */
    }
    .navbar-nav.nav-item {
        display: flex;
        align-items: center; /* Vertically center each item */
    }
}

@media (max-width: 990px) {

    p {
        text-align: justify;
    }

    .mobile-break {
        display: block;
    }

    .main-container-split-home {
        flex-direction: column;
    }

    .main-container-left, .main-container-right {
        min-width: auto;
    }

    .main-container-right-2 {
        padding: 25px;
    }
    
    .main-container-split {
        flex-direction: column;
    }

    .main-container-right {
        order: -1;
    }

    .welcome-container {
        display: block; 
    }

    .events-scroll {
        height: auto;
        overflow-y: visible;
    }

    .inside-header .fa-arrow-down-wide-short {
        display: none;
    }
    
    #arrow {
        display: block; 
        text-align: center;
    }

    .right-1-home {
        padding: 10px;
    }

    .badge-link img {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .main-header {
        padding-right: 50px;
    }

    .banner-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner {
        height: auto;
        margin: 0 auto;
        max-height: 75px;
        max-width: 100%;
    }

    .btn-pill {
        text-align: center;
    }
    
    .btn-back {
        display: none;
    }

    .form-field {
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .search-input {
        width: 100%;
    }

    footer .text-end {
        padding-right: 50px;
    }
    
    footer img {
        height: 50px;
        align-items: center;
    }

    .play-button {
        font-size: 70px;
    }
}

/* Always on desktop */
@media (min-width: 769px) {
    .mobile-break {
      display: none;
    }

} 