@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--dark-purple: #4f379c ;
	--light-purple: #ac3fd0;
	--five-star-pink: #ee35b9;
	--four-star-burnt: #f37484;
	--three-star-orange: #f6933f;
    --two-star-ocean: #95d0bb;
    --one-star-ice: #24e4e7;
    --bright-white: #ffffff;
    --light-orange: #ffedc3;
    --light-grey: #d9d9d9;
    --dark-grey: #282828;
    --darker-grey: #1c1c1c;
    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --bg-color-dark: #000000;
    --text-color-dark: #ffffff;
}


/* GENERAL */
body {
    overflow-y: scroll;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    font-size: 14px;
}

h1 {
    font-size: 2.5rem;
}
  
h2 {
font-size: 2rem;
}

h3 {
font-size: 1.75rem;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--bright-white); /* or any other color you prefer */
}

a:hover {
    color: var(--two-star-ocean); /* or any other color you prefer */
}

body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}
  
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.main-header {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.inside-header {
    margin-bottom: 25px;
}

/* GENERAL END */

/* MAIN CONTAINERS */
.main-container-style {
    border: 2px solid var(--dark-grey);
    border-radius: 25px;
    padding: 25px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
}

.main-container-left, .main-container-right {
    flex: 1;
}

.main-container-left {
    display: flex;
    flex-direction: column;
}

.main-container-left-1, .main-container-left-2 {
    flex: 1;
}

.main-container-split {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Allows child containers to fill height */

}

.main-container-split > div {
    flex: 1;
}

.sub-container {
    display: flex;
    flex-direction: row;
}

.sub-container-left, .sub-container-right {
    flex: 1;
}

.flame-logo {
    max-width: 175px;
    width: 10%;
    height: auto;
}


.events-list li {
    list-style: none;
}

/* MAIN CONTAINERS END */

/* WELCOME */
.welcome-logo {
    max-width: 100%;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* WELCOME END */

/* SCHEDULE */
.sign-container {
    display: grid;
    justify-content: center;
    align-items: center
}

.banner {
    max-width: 100%;
    height: auto;
    margin: 0 auto;

}

/* SCHEDULE END */

/* EVENT */
h3, .rating-logo {
    display: inline;
    vertical-align: middle;

}

.rating-logo {
    width: 25px;
    margin: 10px;
}

.vote input[type="radio"] {
    margin: 10px 10px;
}

.spoiler-warning span{
    background-color: red;
    font-weight: 500;
    padding: 0 25px;
}

/* EVENT END */

/* BUTTONS */
.btn-primary {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary:hover {
    background-color: var(--light-purple);
    border-color: var(--light-purple);
}

.btn-pill {
  padding: 1px 12px;
  font-weight: 100;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 330px;
  text-align: left;
  text-decoration: none;
  display: block;
  max-width: 100%;
}

.btn-pill-light {
  background-color: var(--light-purple);
  color: #fff;
}

.btn-pill-dark {
  background-color: var(--dark-purple);
  color: #fff;
}

.btn-pill-light:hover {
    background-color: var(--dark-purple);
    color: #fff;
}

.btn-pill-dark:hover {
  background-color: var(--light-purple);
  color: #fff;
}

.btn-back, .btn-standard {
    background-color: var(--dark-grey);
    color: #fff;
    display: inline;
    width: auto;
    font-size: .85rem;
}

.btn-back:hover, .btn-standard:hover {
    background-color: var(--darker-grey);
}

/* BUTTONS END */

/* NAVBAR */
.navbar-brand img {
    width: 40px;
}

.navbar-dark {
    background-color: var(--dark-grey) !important;
    border-radius: 10px;
}

.navbar-dark .nav-link {
    color: var(--bright-white);
}

.nav-link:hover {
    color: var(--two-star-ocean) !important;
}

.search-input {
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.theme-toggle {
    background: none;
    border: none;
    /* font-size: 1rem; */
    cursor: pointer;
    color: var(--light-grey);
    padding-left: 15px;
}

.mobile-menu::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* NAVBAR END*/

/* FORMS */
.form-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 300px;
    margin-top: 10px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.form-control {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; /* Adjust the size here */
}

.form-control:focus {
    outline: 2px solid var(--five-star-pink);
}

::placeholder {
    font-size: 12px;
}

.form-check-input[type="checkbox"] {
    background-color: var(--light-grey);
}
  
.form-check-input[type="checkbox"]:checked {
    background-color: var(--light-purple);
}

/* FORMS END */

/* FOOTER */
footer {
    border-radius: 10px;
    background-color: var(--dark-grey) !important;
    margin: 5px;
    padding: 15px;
}

/* FOOTER END */

/* Media query for mobile screens */
@media (max-width: 990px) {

    p {
        text-align: justify;
    }

    .mobile-break {
        display: block;
    }
      
    .main-container-left, .main-container-right {
        min-width: auto;        /* Removes the min-width restriction */
    }

    .main-container-split {
        flex-direction: column; /* Stack the containers vertically */
    }

    .main-header {
        /* font-size: 90%; */
        padding-right: 50px;
    }

    .btn-back {
        display: none;
    }

    .form-field {
        width: 100%; /* or a percentage value that suits your design */
        padding-left: 10px; /* adjust padding to fit mobile screen */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .search-input {
        width: 100%;
    }

}


@media (min-width: 769px) {
    .mobile-break {
      display: none;
    }
} 