{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <div>
        <h1>{{ competition.date|date:"Y" }} {{ competition.name }}</h1>
        <p><a href="{% url 'competition_schedule' %}">BACK TO RACE CALENDAR</a></p>
        <ul>
            {% for event in events %}
            <li><a href="{% url 'event' event.id %}">{{ event.date_time|date:"j M" }} - {{ event.event_type|title }} - {{ event.date_time|time:"H:i" }}</a></li>
            {% endfor %}    
        </ul>
        
</div>

{% endblock %}