{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <div>
        <h1>{{ event.event_list.date|date:"Y" }} {{ event.event_list.name }}</h1>
        <p><a href="{% url 'event_list' event.event_list.id %}">BACK TO RACE WEEKEND</a></p>

        <h2>{{ event.date_time|date:"j M" }} - {{ event.event_type|title }}</h2>
    </div>

    <div id="vote-container" {% if not request.user.is_superuser and request.user in event.rating.voters.all %}style="display: none;"{% endif %}>
        <h3>Vote</h3>
        {% if event.video %}
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'vote' event.id %}">
                {% csrf_token %}
                <input type="radio" name="stars" value="5" required> 5 stars - {{ rating_text.5 }}<br>
                <input type="radio" name="stars" value="4"> 4 stars {{ rating_text.4 }}<br>
                    <input type="radio" name="stars" value="3"> 3 stars - {{ rating_text.3 }}<br>
                    <input type="radio" name="stars" value="2"> 2 stars {{ rating_text.2 }}<br>
                    <input type="radio" name="stars" value="1"> 1 stars - {{ rating_text.1 }}<br>
                    <br>
                    <input type="submit" class="btn btn-primary text-white" value="Vote">
                </form>
            {% else %}
                <p>Register or Login to Vote</p>
                <nav>
                    <a href="{% url 'core:login' %}?next={{ request.path }}" class="btn btn-primary text-white">Login</a>
                    <a href="{% url 'core:register' %}?next={{ request.path }}"             <a href="{% url 'core:login' %}" class="btn btn-primary text-white">Login</a>
                </a>
                </nav>
            {% endif %}
        {% else %}
            <p>Voting and Results shown when event is completed</p>
        {% endif %}
    </div>
    <div id="voted-container" {% if request.user in event.rating.voters.all %}style="display: block;"{% else %}style="display: none;"{% endif %}>
        <p>Thanks for voting</p>
    </div>
    
    <div>
        <h3>Results</h3>
        {% if event.rating.voters.all|length == 0 %}
            <p>No one has voted yet</p>
            
        {% else %}
        
            {% if event.rating.percentage >= 66 %}
                <p>Our users say this event has a heat rating of: {{ event.rating.percentage|floatformat:0 }}%</p>
                <h1>{{ rating_text.5 }}</h1>

            {% elif event.rating.percentage >= 33 %}
                <p>Our users say this event has a heat rating of: {{ event.rating.percentage|floatformat:0 }}%</p>
                <h1>{{ rating_text.3 }}</h1>
            {% else %}
                <p>Our users say this event has a heat rating of: {{ event.rating.percentage|floatformat:0 }}%</p>
                <h1>{{ rating_text.1 }}</h1>
            {% endif %}
            
            <p>Rating Breakdown</p>
                <div style="width: 300px;"> <!-- Adjust the width as needed -->
                    <canvas id="ratingChart" width="300" height="300"></canvas> <!-- Set width and height -->
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const ctx = document.getElementById('ratingChart').getContext('2d');
                    const fiveStars = {{ event.rating.five_stars }};
                    const fourStars = {{ event.rating.four_stars }};
                    const threeStars = {{ event.rating.three_stars }};
                    const twoStars = {{ event.rating.two_stars }};
                    const oneStar = {{ event.rating.one_star }};
                    const totalVotes = fiveStars + fourStars + threeStars + twoStars + oneStar;
                    const chart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: ['5 stars', '4 stars', '3 stars', '2 stars', '1 star'],
                            datasets: [{
                                data: [fiveStars, fourStars, threeStars, twoStars, oneStar],
                                backgroundColor: [
                                    'rgba(255, 58, 0, 0.8)',
                                    'rgba(255, 196, 0, 0.8)',
                                    'rgba(255, 242, 197, 0.8)',
                                    'rgba(198, 237, 255, 0.8)',
                                    'rgba(110, 210, 255, 0.8)',
                                ],
                                borderColor: [
                                    'rgba(255, 0, 0, 0.8)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Rating Distribution'
                            }
                        }
                    });
                </script>
                </script>
            {% endif %}
    </div>
    <div>
        <h3>Spoiler Zone</h3>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
        </div>

        {% if event.video %}
            <div class="video-container">
                <b>Video Highlights</b> <a href='https://google.com/search?q=Singapore+Grand+Prix+highlights&q=&tbm=vid' target='_blank'/><img src='/images/icons/search.png'></a><br><center><a href= {{ event.video }} title='Singapore Grand Prix'target='_blank' rel='noopener' />
                    <img src='https://img.youtube.com/vi/slCskHrI_Vg/hqdefault.jpg' style='width: 80%;' /></a><br>
        
        {% endif %}


</div> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}