{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <div>
        <h1>2024 FIA F1 WORLD CHAMPIONSHIP</h1>
        <p>RACE CALENDAR</p>    
        <ul>
            {% for race in races %}
                <li><a href="{% url 'race_weekend' race.id %}">Round {{ race.round }} - {{ race.start_date|date:"d" }}-{{ race.end_date|date:"d" }} {{ race.start_date|date:"M" }} - {{ race.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    </div>   

{% endblock %}