{% extends 'base_menu.html' %}

{% block content %}

<div class="container">
    <div>
        <h1>{{ event.race_weekend.date|date:"Y" }} {{ event.race_weekend.name }}</h1>
        <p><a href="{% url 'race_weekend' event.race_weekend.id %}">BACK TO RACE WEEKEND</a></p>

        <h2>{{ event.date_time|date:"j M" }} - {{ event.event_type|title }}</h2>
    </div>

    <div id="vote-container" {% if not request.user.is_superuser and request.user in event.rating.voters.all %}style="display: none;"{% endif %}>
        <h3>Vote</h3>
        {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'vote' event.id %}">
                {% csrf_token %}
                <input type="radio" name="stars" value="5"> 5 stars - {{ rating_text.5 }}<br>
                <input type="radio" name="stars" value="4"> 4 stars {{ rating_text.4 }}<br>
                <input type="radio" name="stars" value="3"> 3 stars - {{ rating_text.3 }}<br>
                <input type="radio" name="stars" value="2"> 2 stars {{ rating_text.2 }}<br>
                <input type="radio" name="stars" value="1"> 1 stars - {{ rating_text.1 }}<br>
                <br>
                <input type="submit" value="Vote">
            </form>
        {% else %}
            <p>Register or Login to Vote</p>
            <nav>
                <a href="{% url 'core:login' %}?next={{ request.path }}" class="btn btn-primary text-white">Login</a>
                <a href="{% url 'core:register' %}?next={{ request.path }}" class="btn btn-primary text-white">Register</a>
            </nav>
        {% endif %}
    </div>
    <div id="voted-container" {% if request.user in event.rating.voters.all %}style="display: block;"{% else %}style="display: none;"{% endif %}>
        <h3>Vote</h3>
        <p>Thanks for voting</p>
    </div>
    <div>
        <h3>Results</h3>
        
        {% if event.rating.percentage >= 66 %}
            <p>Our users say this event has a heat rating of: {{ event.rating.percentage|floatformat:0 }}%</p>
            <h1>{{ rating_text.5 }}</h1>

        {% elif event.rating.percentage >= 33 %}
            <p>Our users say this event has a heat rating of: {{ event.rating.percentage|floatformat:0 }}%</p>
            <h1>{{ rating_text.3 }}</h1>
        {% else %}
            <p>Our users say this event has a heat rating of: {{ event.rating.percentage|floatformat:0 }}%</p>
            <h1>{{ rating_text.1 }}</h1>
        {% endif %}
        
        <p>Rating Breakdown</p>
            <div style="width: 300px;"> <!-- Adjust the width as needed -->
                <canvas id="ratingChart" width="300" height="300"></canvas> <!-- Set width and height -->
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('ratingChart').getContext('2d');
                const fiveStars = {{ event.rating.five_stars }};
                const fourStars = {{ event.rating.four_stars }};
                const threeStars = {{ event.rating.three_stars }};
                const twoStars = {{ event.rating.two_stars }};
                const oneStar = {{ event.rating.one_star }};
                const totalVotes = fiveStars + fourStars + threeStars + twoStars + oneStar;
                const chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['5 stars', '4 stars', '3 stars', '2 stars', '1 star'],
                        datasets: [{
                            data: [fiveStars, fourStars, threeStars, twoStars, oneStar],
                            backgroundColor: [
                                'rgba(255, 58, 0, 0.8)',
                                'rgba(255, 196, 0, 0.8)',
                                'rgba(255, 242, 197, 0.8)',
                                'rgba(198, 237, 255, 0.8)',
                                'rgba(110, 210, 255, 0.8)',
                            ],
                            borderColor: [
                                'rgba(255, 0, 0, 0.8)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Rating Distribution'
                        }
                    }
                });
            </script>
            </script>
    </div>
</div> 
{% endblock %}