{% extends "base_bootstrap.html" %}

{% block navbar %}

<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      <li {% if request.get_full_path == '/' %}class="active"{% endif %}>
        <a href="{% url 'home' %}">REPLAY HOT WATCH</a>
      </li>
      <li {% if request.get_full_path == f1 %}class="active"{% endif %}>
          <a href="{% url 'competition_schedule' %}">F1</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li>
          <a href="#">Hi {{ user.username }}</a>
        </li>
        <li>
          <a href="{% url 'core:logout' %}?next={{ request.path }}">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'core:login' %}?next={{ request.path }}">Login</a>
        </li>
        <li>
          <a href="{% url 'core:register' %}?next={{ request.path }}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% endblock %}
