{% extends 'base.html' %}

{% block content %}
<div class="container">
	<br>

  {% include 'core/welcome.html' %}
  
  <form method="POST" novalidate>
    {% csrf_token %}
    <br>
    <h2>Register for an account</h2>
	  <br>
    {% for field in form %}
    <div class="form-group">
      {% if field.name == 'password1' or field.name == 'password2' %}
        <input type="password" name="{{ field.name }}" class="form-control form-field p-2" placeholder="{{ field.label }}" value="{{ field.value }}">
      {% else %}
        <input type="text" name="{{ field.name }}" class="form-control form-field p-2" placeholder="{{ field.label }}">
      {% endif %}
      {% if field.errors %}
        <ul class="errorlist">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary ml-2">Register</button>
  </form>
</div>
{% endblock content %}